* {
  font-family: lato;
}

header ul {
  background-color: #EFDBDB;
  display: flex;
  flex-direction: row;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* visited link */
a:visited {
    color: blue;
}

/* mouse over link */
a:hover {
    color: green;
}

/* selected link */
a:active {
    color: yellow;
}


.flex-container {
  display: flex;
  flex-direction: row;
}

form {
  width: 70%;
}

nav {
  background-color:#564545;
  height: 100vh;
}

.links {
  padding: 4rem;
  text-color: white;
}
