* {
  font-family: lato;
}

header {
  background-color: #EFDBDB;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  display: block;
}


a:link {
    color: grey;
}

/* visited link */
a:visited {
    color: blue;
}

/* mouse over link */
a:hover {
    color: green;
}

/* selected link */
a:active {
    color: yellow;
}

#block {
  background-color: #533B3B;
  float: left;
  width: 33.33%;
}

#images {
  float: right;
  width: 33.33%;
  height: 100% vh;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Navbar links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
